# Node.js dependencies
node_modules/

.contracts/
scripts/
test/
smart-contract-examples/

# Hardhat cache and artifacts
artifacts/
cache/

# Environment files
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
*.log
hardhat.config.js
.openzeppelin/base-sepolia.json
.openzeppelin/unknown-421614.json
contracts/MockERC20.sol
